body,
html {
  height: 100%;
}

body {
  font-weight: 200;
  font-size: 1.5rem;
  color: #444;
}

.intro-left {
  background: url(../images/left-col-bgimage.jpg);
  position: fixed;
  left: 0;
  width: 33.3333%;
  height: 100%;
  color: white;
}

@media (max-width: 768px) {
  .intro-left {
    height: 30vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem;
}

.left-col-height {
  height: 100%;
}

section {
  margin: 3rem;
}

footer {
  margin: 3rem;
}

i {
  margin-right: .75rem;
}

a {
  text-decoration: none;
  color: #444;
}

.thumbnail {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.thumbnail:hover {
  opacity: 1;
  transition: opacity 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}